<footer class="footer" id="footer">
    <div class="container-fluid">

        <a href="https://www.linkedin.com/in/manjunath-rudrapaada/"><i class="footer-icon fab fa-linkedin-in"></i></a>
        <a href="https://github.com/Manjunath-Rudrapaada"><i class="footer-icon fab fa-github"></i></a>
        <a href="mailto:m.rudrapad@gmail.com"><i class="footer-icon fas fa-envelope"></i></a>
        <p>&#169 Copyright 2021 &#183 <strong><em>R Weather</em></strong></p>

    </div>
</footer>